/* CSS code for displaying a temporary box around the containers */
[class*=Container] {
    border: 2px solid rgb(196, 71, 109);
}

/* CSS code for the NavBar */
.navbarContainer {
    display: flex;
    float: left;
    padding-left: 15px;
    padding-right: 50px;
}
.navbarItem {
    padding-left: 50px;
    padding-right: 50px;
}
a.navbarItem {
    font-size: 17px;
}

/* CSS code for the Main and Aside */
.asideContainer, .mainContainer {
    display: flex;
    float: left;
    align-content: stretch;
    align-items: stretch;
    margin: 10px;
}


/* CSS code for Main */

/* CSS code for Aside */
.asideContainer {
    padding: 10px 40px 600px 40px;
}

