/* CSS code for displaying a temporary box around the containers */
/*[class*=Container] {
    border: 2px solid rgb(196, 71, 109);
}*/


/* CSS code for the NavBar */
.navbarContainer {
    display: flex;
    float: left;
    padding-left: 15px;
    padding-right: 50px;
    background-color: rgb(138, 179, 232);
}
.navbarItem {
    padding-left: 48px;
    padding-right: 48px;

}
a.navbarItem {
    font-size: 17px;
    color:white;
    text-decoration: none;

}

img.navbarItem {
    width: 28vh;
    height: 8vh;
}

/* CSS code for the Main and Aside */
.asideContainer, .mainContainer {
    display: flex;
    float: left;
    align-content: stretch;
    align-items: stretch;
    margin: 10px;
}


/* CSS code for Main */
.mainContainer {
    padding: 10px 800px 500px 40px;
    background-color: rgb(213, 231, 255);
}
/* CSS code for Aside */
.asideContainer {
    padding: 10px 40px 600px 40px;
    background-color: rgb(213, 231, 255);
}


