/* The CSS will be adjusted overtime when funcitonality piles in  */
/* This CSS file is for styling for the header ONLY  */


/* Styling for the header */
.header {
    display: inline;
    float: left;
    margin-left: 6vh;
    margin-right: 6vh;
}
/* Styling for the NavBar */
.nav a {
    display: flex;
    float:inline-start;
    align-items:center;
    justify-content: space-around;
    margin-left: 8vh;
    margin-right: 8vh;
}