/* CSS code for the NavBar */
.navbarContainer {
    display: flex;
    float: left;
    padding-left: 15px;
    padding-right: 50px;
    background-color: rgb(138, 179, 232);
}
.navbarItem {
    padding-left: 34px;
    padding-right: 34px;

}
a.navbarItem {
    font-size: 17px;
    text-align: center;
    color:white;
    text-decoration: none;
    padding-top: 30px;

}

img.navbarItem {
    width: 28vh;
    height: 8vh;
}

/* CSS code for the Main and Aside */
.asideContainer, .mainContainer {
    display: flex;
    float: left;
    align-content: stretch;
    align-items: stretch;
    margin: 10px;
}

/* CSS code for Main */
.mainContainer {
    padding: 10px 800px 500px 40px;
    background-color: rgb(213, 231, 255);
}
/* CSS code for Aside */
.asideContainer {
    padding: 10px 40px 60px 40px;
    background-color: rgb(213, 231, 255);
}